.btn {
      width: 85px;
      height: 50px;
      font-size: 25px;
      font-family: "Roboto", sans-serif;
      color: #FFF;
      border-radius: 10px;
      border: none;
      cursor: pointer;
}

.increment {
      background-color: #4CAF50;
}

.reset {
      background-color: #6c757d;
}

.decrement {
      background-color: #f44336;
}